/* Will be compiled down to a single stylesheet with your sass files */

#plot { width:600px; height:300px; }

input:focus { background-color: yellow; }

/* accordion icons */
/*
  down-arrow: &#x25BC;
    up-arrow: &#x25B2;
*/
.opened:before { content: "▲" }
.closed:before { content: "▼" }
.accordion-header { cursor: pointer; }
