<!doctype html>
<html lang="en" class="ng-app:app" id="ng-app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EM for Gaussian Mixture</title>
    <link rel="stylesheet" href="lib/bootstrap.css"/>
    <script src="lib/html5shiv.js"></script>
    <script src="lib/json3.min.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="lib/jquery.flot.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/em.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="MainCtrl" ng-init="debug = true">
      <h2>EM[{{ result.L | number:2 }}] : {{ filelist[0].name }}</h2>
      <input type="file" name="filelist" filelist-bind multiple ng-hide="true"/>
      <div ng-init="step = false" ng-show="step">
        <button ng-click="iterate()">Step</button>
        <button ng-click="run()">RUN</button>
      </div>
      <div id="placeholder" drop-area="filelist" style="width:600px;height:300px;"></div>
      <hr>
      <form id="histogram_params" class="form form-inline" ng-submit="update(model0)">
        <fieldset>
          <label>binsize: <input ng-model="binsize"/></label>
          <button ng-click="model0.push({m:0,s:30,p:1})">add cluster</button>
          <input type="submit"/>
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>cluster ID</th><th>m_init</th><th>m</th><th>s</th><th>p</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="m in result.model">
                  <td>{{ $index }}</td>
                  <td>
                    <label><input ng-model="model0[$index].m" class="input input-small"/></label>
                    <a ng-click="remove($index)">&times;</a>
                  </td>
                  <td>{{ m.m | number:0 }}</td>
                  <td>{{ m.s | number:0 }}</td>
                  <td>{{ m.p | number:2 }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
      </form>
      <hr>
      <h3>copy and paste data</h3>
      <form ng-submit="updateRawData()">
        <textarea ng-model="rawdata"></textarea>
        <input type="submit"/>
        <button ng-click="clearRawData()">clear raw data</button>
      </form>
    </div>
  </body>
</html>
