!!!
//if lt IE 7
	| <html class='no-js lt-ie9 lt-ie8 lt-ie7'>
//if IE 7
	| <html class='no-js lt-ie9 lt-ie8'>
//if IE 8
	| <html class='no-js lt-ie9'>
//if gt IE 8
	| <html class='no-js'>
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
	title EM for Gaussian Mixture
	meta(name='description',content='')
	meta(name='viewport',content='width=device-width')
	// build:css styles/styles.css
	link(rel='stylesheet',href='styles/bootstrap.css')
	link(rel='stylesheet',href='styles/icons.css')
	link(rel='stylesheet',href='styles/main.css')
	// endbuild
body(ng-app='emjsApp')
	//if lt IE 7
		p.chromeframe You are using an outdated browser.
			a(href='http://browsehappy.com/').
				Upgrade your browser today
			| or
			a(href='http://www.google.com/chromeframe/?redirect=true').
				install Google Chrome Frame
			| to better experience this site.
	//if lt IE 9
		script(src='scripts/vendor/es5-shim.min.js')
		script(src='scripts/vendor/json3.min.js')
	.container(ng-controller='MainCtrl',ng-init='debug = #{debug}')
		h2 Expectation Maximization for Gaussian Mixture
		div(ng-init='step = false',ng-show='step')
			button(ng-click='iterate()') Step
			button(ng-click='run()') RUN
		.row
			.span8
				span(ng-show='result.L ') LogLikelihood :
					span.label {{ result.L | number:2 }}
				div.loading(ng-show='calculating')
				div(ng-hide='calculating')
					#plot(flot='graphdata',flot-options='options',click='plotclick(args)')
			.span3.well(drop-area='filelist')
				span(ng-show='filelist[0]') File:
					span.label {{ filelist[0].name }}
				form
					div(plot-data-input-field, ng-model='data')
					button.btn(file-select='filelist') select file
					button.btn(ng-click="sort()") sort
		hr
		form#histogram_params.form.form-inline(ng-submit='update(model0)')
			fieldset
				label binsize:
					input.input.input-small(type='text',ng-model='binsize')
				button.btn(ng-click='model0.push({m:0,s:30,p:1,focus:1})') add cluster
				input.btn.btn-success(type='submit')
				div
					table.table.table-striped
						thead
							tr
								th cluster ID
								th m_init
								th m
								th s
								th p
						tbody
							tr(ng-repeat='m in result.model')
								td
									span.badge {{ $index }}
								td
									input.input.input-small(ng-model='model0[$index].m',focus='model0[$index].focus')
									a(ng-click='remove($index)') &times;
								td {{ m.m | number:0 }}
								td {{ m.s | number:0 }}
								td {{ m.p | number:2 }}

	// build:js scripts/vendors.js
	script(src='components/jquery/jquery.js')
	script(src='scripts/vendor/angular.js')
	script(src='components/flot/jquery.flot.js')
	// endbuild
	// build:js scripts/scripts.js
	script(src='scripts/shim.js')
	script(src='scripts/GMEM.js')
	script(src='scripts/directives.js')
	script(src='scripts/app.js')
	// endbuild
	// Google Analytics
	script
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
| </html>
