<!DOCTYPE html><!--[if lt IE 7]><html class='no-js lt-ie9 lt-ie8 lt-ie7'><![endif]--><!--[if IE 7]><html class='no-js lt-ie9 lt-ie8'><![endif]--><!--[if IE 8]><html class='no-js lt-ie9'><![endif]--><!--[if gt IE 8]><html class='no-js'><![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>EM for Gaussian Mixture</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- build:css styles/styles.css-->
  <link rel="stylesheet" href="styles/bootstrap.css">
  <link rel="stylesheet" href="styles/icons.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->
</head>
<body ng-app="emjsApp"><!--[if lt IE 7]>
  <p class="chromeframe">You are using an outdated browser.<a href="http://browsehappy.com/">Upgrade your browser today</a>or<a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>to better experience this site.</p><![endif]--><!--[if lt IE 9]>
  <script src="scripts/vendor/es5-shim.min.js"></script>
  <script src="scripts/vendor/json3.min.js"></script><![endif]-->
  <div ng-controller="MainCtrl" ng-init="debug = true" class="container">
    <h2>Expectation Maximization for Gaussian Mixture</h2>
    <div ng-init="step = false" ng-show="step">
      <button ng-click="iterate()">Step</button>
      <button ng-click="run()">RUN</button>
    </div>
    <div class="row">
      <div class="span8">
        <!--span(ng-show='result.L ') LogLikelihood :-->
        <!--	span.label {{ result.L | number:2 }}-->
        <div ng-show="calculating" class="loading"></div>
        <div ng-hide="calculating" drop-area="dropFiles">
          <div id="plot" flot="graphdata" flot-options="graphoptions" click="plotclick(args)"></div>
        </div>
        <!--div {{ graphdata }}-->
      </div>
      <div ng-show="debug" class="span4">{{ dataset[0].data.slice(0,5) | json }}</div>
    </div>
    <div ng-controller="DataItemCtrl" ng-repeat="ds in dataset" ng-init="data=ds.data; filelist=ds.filelist; result=ds.result" class="row">
      <div style="border-color: {{ ds.color }}" class="span12 leftm"><span class="btn-group"><a ng-click="hide=!hide" ng-class="{opened: hide, closed: !hide}" class="btn btn-mini accordion-header">{{ $index }} : {{ ds.name }}</a>
          <!--a.btn.btn-mini(title="toggle graph",ng-click="ds.show=!ds.show") {{ ds.show && "▂" || "⬜" }}--><a title="toggle graph" ng-click="ds.show=!ds.show" ng-class="ds.show &amp;&amp; &quot;btn-inverse&quot;" class="btn btn-mini">💡</a><a title="insert dataset" ng-click="addDataSet($index)" class="btn btn-mini btn-success">✚</a><a title="delete dataset" ng-click="dataset.splice($index,1)" ng-hide="dataset.length==1" class="btn btn-mini btn-danger">✗</a></span></div>
      <form ng-hide="hide" ng-submit="setInitialCondition(model0)" class="form form-inline">
        <div class="span7">
          <div class="pull-right">
            <label>binsize:
              <input type="text" ng-model="binsize" class="input input-small">
            </label>
            <button ng-click="model0.push({m:0,s:30,p:1,focus:true})" class="btn btn-small">add cluster</button>
            <input type="submit" class="btn btn-small btn-success">
          </div>
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>init_m</th>
                <th>result_m</th>
                <th>result_s</th>
                <th>result_p</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="m in model0">
                <td><span class="badge">{{ $index }}</span></td>
                <td>
                  <input type="number" ng-model="model0[$index].m" focus="model0[$index].focus" class="input input-small"><a ng-click="remove($index)" href="#">✗</a>
                </td>
                <td>{{ result.model[$index].m | number:0 }}</td>
                <td>{{ result.model[$index].s | number:0 }}</td>
                <td>{{ result.model[$index].p | number:2 }}</td>
              </tr>
            </tbody>
          </table>
          <div ng-show="debug" class="span7">{{ data.slice(0,10) | json }}</div>
          <!--div(ng-show="debug") model0: {{ model0 | json }}-->
        </div>
        <div drop-area="filelist" class="span5">
          <div class="span2">
            <textarea plot-data-input-field="data" rows="7" class="span2"></textarea>
          </div>
          <div class="span2">
            <button file-select="filelist" class="btn btn-primary">📂  open file</button>
            <button ng-click="sort()" class="btn">⇵ sort</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- build:js scripts/vendors.js-->
  <script src="components/jquery/jquery.js"></script>
  <script src="scripts/vendor/angular.js"></script>
  <script src="components/flot/jquery.flot.js"></script>
  <!-- endbuild-->
  <!-- build:js scripts/scripts.js-->
  <script src="scripts/shim.js"></script>
  <script src="scripts/GMEM.js"></script>
  <script src="scripts/directives.js"></script>
  <script src="scripts/app.js"></script>
  <!-- endbuild-->
  <!-- Google Analytics-->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
     g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
     s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body></html>