!!!
//if lt IE 7
	| <html class='no-js lt-ie9 lt-ie8 lt-ie7'>
//if IE 7
	| <html class='no-js lt-ie9 lt-ie8'>
//if IE 8
	| <html class='no-js lt-ie9'>
//if gt IE 8
	| <html class='no-js'>
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
	title EM for Gaussian Mixture
	meta(name='description',content='')
	meta(name='viewport',content='width=device-width')
	// build:css styles/styles.css
	link(rel='stylesheet',href='styles/bootstrap.css')
	link(rel='stylesheet',href='styles/icons.css')
	link(rel='stylesheet',href='styles/main.css')
	// endbuild
body(ng-app='emjsApp')
	//if lt IE 7
		p.chromeframe You are using an outdated browser.
			a(href='http://browsehappy.com/').
				Upgrade your browser today
			| or
			a(href='http://www.google.com/chromeframe/?redirect=true').
				install Google Chrome Frame
			| to better experience this site.
	//if lt IE 9
		script(src='scripts/vendor/es5-shim.min.js')
		script(src='scripts/vendor/json3.min.js')
	.container(ng-controller='MainCtrl',ng-init='debug = #{debug}')
		h2 Expectation Maximization for Gaussian Mixture

		.row
			.span8
				div.loading(ng-show='calculating')
				div(ng-hide='calculating',drop-area='dropFiles')
					#plot(flot='graphdata', click='plotclick(args)')
			.span4(ng-show="debug") {{ datasets[0].samples.slice(0,5) | json }}

		.row(ng-controller="DataItemCtrl",ng-repeat="dataset in datasets")
			.span12.leftm(style="border-color: {{ dataset.color }}")
				span.btn-group
					a.btn.btn-mini.accordion-header(ng-click="hide=!hide",ng-class="{opened: hide, closed: !hide}")
						| {{ $index }} : {{ dataset.name }}
					//a.btn.btn-mini(title="toggle graph",ng-click="dataset.show=!dataset.show") {{ dataset.show && "▂" || "⬜" }}
					a.btn.btn-mini(title="toggle graph",ng-click="dataset.show=!dataset.show",ng-class='dataset.show && "btn-inverse"')
						| {{ dataset.show && "hide" || "show" }}
					a.btn.btn-mini.btn-success(title="insert dataset",ng-click="addDataSet($index)") +
					a.btn.btn-mini.btn-danger(title="delete dataset",ng-click="datasets.splice($index,1)",ng-hide="datasets.length==1") &times;
			div.form.form-inline(ng-hide="hide")
				.span7
					.pull-right
						label binsize:
							input.input.input-small(type='text',ng-model='dataset.histogram.binsize')
						button.btn.btn-small(ng-click='init_params.push({m:0,s:30,p:1,focus:true})') add cluster
						input.btn.btn-small.btn-success(type='submit',ng-click='setInitialCondition(init_params)')
					table.table.table-striped.table-condensed
						thead
							tr
								th #
								th init_m
								th result_m
								th result_s
								th result_p
						tbody
							tr(ng-repeat='param in init_params')
								td
									span.badge {{ $index }}
								td
									input.input.input-small(type='number',ng-model='param.m',focus='param.focus')
									a(ng-click='remove($index)',href="#") &times;
								td {{ dataset.model.params[$index].m | number:0 }}
								td {{ dataset.model.params[$index].s | number:0 }}
								td {{ dataset.model.params[$index].p | number:2 }}
					.span7(ng-show="debug") {{ dataset.samples.slice(0,10) | json }}
					//div(ng-show="debug") init_params: {{ init_params | json }}
				.span5(drop-area='dataset.filelist')
					.span2
						textarea.span2(arr-bind='dataset.samples', rows="7")
					.span2
						button.btn.btn-primary(file-select='dataset.filelist') open file
						button.btn(ng-click="sort()") &harr; sort

	// build:js scripts/vendors.js
	script(src='components/jquery/jquery.js')
	script(src='scripts/vendor/angular.js')
	script(src='components/flot/jquery.flot.js')
	// endbuild
	// build:js scripts/scripts.js
	script(src='scripts/shim.js')
	script(src='scripts/GMEM.js')
	script(src='scripts/directives.js')
	script(src='scripts/app.js')
	// endbuild
	// Google Analytics
	script
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
| </html>
